package-lock.json
/build-profile.json5

rnoh_modules

**/oh-package-lock.json5

/node_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
/oh_modules
hvigorw
hvigorw.bat
hvigor/hvigor-wrapper.js
